<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Form</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <form action="/users" method="post">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="email" name="email" placeholder="Enter your email">
        <input type="text" name="address" placeholder="Enter your address">
        <input type="number" name="age" placeholder="Enter your age">
        <textarea name="bio" id="" cols="30" rows="10" placeholder="Enter bio"></textarea>
        <input type="text" name="hobbies" placeholder="[Enter your hobbies]">
        <input type="submit" value="Create new User" class="btn-green">
    </form>
</body>
</html>